{% extends "base.html" %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ selected_project.title }}</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfoio Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div>
                {% if selected_project.title == 'Drawing Opening Application': %}
                <img src="static/assets/img/portfolio/Drawing opening.png" alt="">
                {% elif selected_project.title == 'Tender Design Tool' %}
                <img src="static/assets/img/portfolio/Tender Design Tool.png" alt="">
                {% elif selected_project.title == 'Maintenance Breakdown Log System' %}
                <img src="static/assets/img/portfolio/Maintenance Breakdown Log System.png" alt="">
                {% elif selected_project.title == 'Process Project Log Application' %}
                <img src="static/assets/img/portfolio/Process Project Log.png" alt="">
                {% elif selected_project.title == 'Supplier NCR Application' %}
                <img src="static/assets/img/portfolio/Supplier NCR.png" alt="">
                {% endif %}
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{ selected_project.category }}</li>
              <li><strong>Client</strong>: {{ selected_project.client }}</li>
              <li><strong>Project date</strong>: {{ selected_project.date }}</li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>{{ selected_project.title }}</h2>
            <p>{{ selected_project.project_description }}</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}
